<form class="{{cssClass}}" autocomplete="off">
  
  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Vehicle Name"/>
      </h1>
      
      <div class="stats-row">
        <div class="stat stat-sdp">
          <label>SDP</label>
          <div class="sdp-values">
            <input type="number" name="system.derivedStats.hp.value" value="{{actor.system.derivedStats.hp.value}}" placeholder="-"/>
            <span class="sdp-separator">/</span>
            <input type="number" name="system.derivedStats.hp.max" value="{{actor.system.derivedStats.hp.max}}" placeholder="-"/>
          </div>
        </div>
        <div class="stat stat-sp">
          <label>SP</label>
          <div class="sp-values">
            <input type="number" name="system.externalData.currentArmorBody.value" value="{{actor.system.externalData.currentArmorBody.value}}" placeholder="-"/>
            <span class="sp-separator">/</span>
            <input type="number" name="system.externalData.currentArmorBody.max" value="{{actor.system.externalData.currentArmorBody.max}}" placeholder="-"/>
          </div>
        </div>
        <div class="stat stat-hsp">
          <label>HSP</label>
          <div class="hsp-values">
            <input type="number" name="system.externalData.currentArmorHead.value" value="{{actor.system.externalData.currentArmorHead.value}}" placeholder="-"/>
            <span class="hsp-separator">/</span>
            <input type="number" name="system.externalData.currentArmorHead.max" value="{{actor.system.externalData.currentArmorHead.max}}" placeholder="-"/>
          </div>
        </div>
        <div class="stat">
          <label>MOVE</label>
          <input type="number" name="system.stats.move.value" value="{{actor.system.stats.move.value}}" placeholder="-"/>
        </div>
        <div class="stat">
          <label>Speed</label>
          <input type="text" name="flags.mmutons-cyberpunk-red-vas.speed" value="{{actor.flags.mmutons-cyberpunk-red-vas.speed}}" placeholder="-"/>
        </div>
      </div>
  </header>

  {{!-- Tabs --}}
  <nav class="tabs" data-group="primary">
    <a class="item" data-tab="main">Operations</a>
    <a class="item" data-tab="weapons">Weapons & Armor</a>
    <a class="item" data-tab="cargo">Cargo</a>
    <a class="item" data-tab="upgrades">Upgrades</a>
    <a class="item" data-tab="damage">Damage</a>
  </nav>

  {{!-- Body --}}
  <section class="sheet-body">
    
    {{!-- Main Tab - Operations (Positions + Mounted Weapons) --}}
    <div class="tab" data-group="primary" data-tab="main">
      
      <div class="positions-grid">
        {{#each positions}}
        <div class="position-card {{#if this.isFull}}position-full{{/if}}" data-position-id="{{this.id}}">
          
          {{!-- Position Header --}}
          <div class="position-header">
            <div class="position-title-group">
              <h3 class="position-name">{{this.name}}</h3>
              {{#if this.bulletproofGlass}}
              <a class="glass-hp {{#if (eq this.glassHp 0)}}glass-broken{{/if}}" data-position-id="{{this.id}}" title="Bulletproof Glass HP">
                {{#if (eq this.glassHp 0)}}
                <i class="fa-solid fa-heart-crack"></i>
                {{else}}
                <i class="fa-solid fa-heart"></i>
                {{/if}}
                {{this.glassHp}}/{{this.glassHpMax}}
              </a>
              {{/if}}
            </div>
            <div class="position-controls">
              <a class="control-icon position-edit" data-position-id="{{this.id}}" title="Edit Position">
                <i class="fas fa-cog"></i>
              </a>
              <a class="control-icon position-delete" data-position-id="{{this.id}}" title="Delete Position">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          
          {{!-- Occupants Drop Zone --}}
          <div class="drop-zone" data-position-id="{{this.id}}">
            {{#if this.hasOccupants}}
              {{#if this.isCrammed}}
              <div class="crammed-warning">
                <i class="fas fa-exclamation-triangle"></i> Crammed!
              </div>
              {{/if}}
              {{#each this.occupants}}
              <div class="occupant-item draggable" draggable="true" data-occupant-uuid="{{this.uuid}}" data-position-id="{{../this.id}}">
                <img src="{{this.img}}" alt="{{this.name}}" class="occupant-avatar"/>
                <div class="occupant-info">
                  <h4 class="occupant-name">{{this.name}}</h4>
                  <div class="occupant-hp">HP: {{this.hp}}/{{this.hpMax}}</div>
                </div>
                <div class="occupant-actions">
                  <a class="occupant-view" data-occupant-uuid="{{this.uuid}}" title="View Sheet">
                    <i class="fas fa-eye"></i>
                  </a>
                  {{#if ../../editable}}
                  <a class="occupant-remove" data-position-id="{{../this.id}}" data-occupant-uuid="{{this.uuid}}" title="Remove">
                    <i class="fas fa-times"></i>
                  </a>
                  {{/if}}
                </div>
              </div>
              {{/each}}
            {{else}}
              <div class="drop-hint">
                <i class="fas fa-user-plus"></i>
                <p>Drag actor here or</p>
                {{#if ../editable}}
                <button type="button" class="select-token" data-position-id="{{this.id}}">
                  <i class="fas fa-user-check"></i> Assign Selected Token
                </button>
                {{/if}}
              </div>
            {{/if}}
          </div>
          
          {{!-- Position Skills --}}
          {{#if this.skillsList}}
          <div class="position-skills">
            <label>Skills:</label>
            <div class="skill-tags">
              {{#each this.skillsList}}
              <a class="skill-tag rollable" data-roll-type="skill" data-roll-title="{{this}}" data-position-id="{{../this.id}}" title="Roll {{this}}">
                <i class="fas fa-dice-d20"></i> {{this}}
              </a>
              {{/each}}
            </div>
          </div>
          {{/if}}
          
          {{!-- Mounted Weapons - Compact Style --}}
          {{#if this.hasWeapons}}
          <div class="position-weapons-compact">
            <div class="weapons-header">
              <i class="fas fa-crosshairs"></i> Mounted Weapons:
            </div>
            {{#each this.weapons}}
            <div class="weapon-row" data-item-id="{{this.id}}">
              <img src="{{this.img}}" class="weapon-icon" alt="{{this.name}}"/>
              <a class="weapon-name item-edit" data-item-id="{{this.id}}">{{this.name}}</a>
              <span class="weapon-ammo">{{#if this.system.isRanged}}{{#if this.system.hasAmmoLoaded}}{{this.system.magazine.value}}/{{this.system.magazine.max}}{{else}}Unloaded{{/if}}{{else}}Melee{{/if}}</span>
              <span class="weapon-stat">ROF {{this.system.rof}}</span>
              <span class="weapon-stat">DMG {{this.system.damage}}</span>
              <div class="weapon-fire-modes">
                <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{this.id}}" title="Aim">{{#if (cprFireMode ../../actor "aimed" this.id)}}<i class="far fa-circle-dot"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a>
                {{#if (gt this.system.fireModes.autoFire 0)}}<a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{this.id}}" title="Auto({{this.system.fireModes.autoFire}})">{{#if (cprFireMode ../../actor "autofire" this.id)}}<i class="far fa-circle-dot"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a>{{/if}}
                {{#if this.system.fireModes.suppressiveFire}}<a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{this.id}}" title="Suppressive">{{#if (cprFireMode ../../actor "suppressive" this.id)}}<i class="far fa-circle-dot"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a>{{/if}}
              </div>
              <div class="weapon-actions-row">
                {{#if this.system.isRanged}}<a class="weapon-action-icon" data-action="changeAmmo" data-item-id="{{this.id}}" title="Change Ammo"><i class="fas fa-arrow-right-arrow-left"></i></a><a class="weapon-action-icon" data-action="reload" data-item-id="{{this.id}}" title="Reload"><i class="fas fa-rotate-right"></i></a>{{/if}}
                <a class="rollable weapon-action-icon" data-roll-type="attack" data-item-id="{{this.id}}" title="Attack"><i class="fas fa-hand-fist"></i></a>
                <a class="rollable weapon-action-icon" data-roll-type="damage" data-item-id="{{this.id}}" title="Damage"><i class="fas fa-droplet"></i></a>
              </div>
            </div>
            {{/each}}
          </div>
          {{/if}}
          
        </div>
        {{/each}}
        
        {{!-- Add Position Card --}}
        {{#if editable}}
        <div class="position-card position-add-card">
          <button type="button" class="position-add">
            <i class="fas fa-plus"></i>
            <span>Create New Position</span>
          </button>
        </div>
                {{/if}}
      </div>
    </div>

    {{!-- Weapons Tab --}}
    <div class="tab" data-group="primary" data-tab="weapons">
      
      <div class="items-header">
        <h3>Weapons</h3>
      </div>
      
      <ol class="items-list">
        {{#each weapons}}
        <li class="item flexrow draggable" data-item-id="{{this.id}}" draggable="true">
          <div class="item-image">
            <img src="{{this.img}}" alt="{{this.name}}"/>
          </div>
          <div class="item-details">
            <h4 class="item-name">{{this.name}}</h4>
            {{#if this.system.damage}}
            <div class="item-properties">
              <span class="property">DMG: {{this.system.damage}}</span>
              {{#if this.system.rof}}
              <span class="property">ROF: {{this.system.rof}}</span>
              {{/if}}
            </div>
            {{/if}}
          </div>
          <div class="item-controls">
            <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            {{#if ../editable}}
              {{#if (lookup (lookup this.flags "mmutons-cyberpunk-red-vas") "mountedPosition")}}
              <a class="weapon-unmount" data-item-id="{{this.id}}" title="Unmount"><i class="fas fa-link-slash"></i></a>
              {{else}}
              <a class="weapon-mount" data-item-id="{{this.id}}" title="Mount to Position"><i class="fas fa-link"></i></a>
              {{/if}}
            <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
            {{/if}}
            {{#if (lookup (lookup this.flags "mmutons-cyberpunk-red-vas") "mountedPosition")}}
            <span class="mounted-badge"><i class="fas fa-link"></i></span>
            {{/if}}
          </div>
        </li>
        {{else}}
        <li class="empty-state">
          <p>No weapons installed</p>
          {{#if editable}}
          <p>Drag weapons from items</p>
          {{/if}}
        </li>
        {{/each}}
      </ol>

      {{!-- Armor Section --}}
      <div class="items-header" style="margin-top: 30px;">
        <h3>Armor</h3>
      </div>
      
      <ol class="items-list">
        {{#each armor}}
        <li class="item flexrow draggable" data-item-id="{{this.id}}" draggable="true">
          <div class="item-image">
            <img src="{{this.img}}" alt="{{this.name}}"/>
          </div>
          <div class="item-details">
            <h4 class="item-name">{{this.name}}</h4>
            {{#if this.system.bodyLocation}}
            <div class="item-properties">
              <span class="property">Body SP: {{this.system.bodyLocation.sp}}</span>
            </div>
            {{/if}}
            {{#if this.system.headLocation}}
            <div class="item-properties">
              <span class="property">Head SP: {{this.system.headLocation.sp}}</span>
            </div>
            {{/if}}
          </div>
          <div class="item-controls">
            {{#if ../editable}}
            <a class="armor-equip" data-item-id="{{this.id}}" title="Equip Status">
              {{#if (eq this.system.equipped "equipped")}}
              <i class="fas fa-shield-alt" style="color: #4CAF50;"></i>
              {{else if (eq this.system.equipped "owned")}}
              <i class="far fa-circle-notch" style="color: #888;"></i>
              {{else}}
              <i class="fas fa-suitcase" style="color: #666;"></i>
              {{/if}}
            </a>
            {{/if}}
            <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            {{#if ../editable}}
            <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </li>
        {{else}}
        <li class="empty-state">
          <p>No armor plating</p>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Upgrades Tab --}}
    <div class="tab" data-group="primary" data-tab="upgrades">
      
      <div class="items-header">
        <h3>Vehicle Upgrades</h3>
      </div>
      
      {{#if mountedUpgrades}}
      <div class="upgrades-display">
        <div class="upgrades-list">
          {{#each mountedUpgrades}}
          <div class="upgrade-item" data-item-id="{{this.id}}">
            <div class="upgrade-header">
              <div class="upgrade-title">
                <img src="{{this.img}}" class="upgrade-icon" alt="{{this.name}}"/>
                <h4>{{this.name}}</h4>
              </div>
              <div class="upgrade-controls">
                <a class="upgrade-view" data-item-id="{{this.id}}" title="View Item"><i class="fas fa-eye"></i></a>
                {{#if ../editable}}
                  {{#if (eq this.type "cyberware")}}
                  <a class="cyberware-uninstall" data-item-id="{{this.id}}" title="Uninstall"><i class="fas fa-link-slash"></i></a>
                  {{else}}
                  <a class="upgrade-unmount" data-item-id="{{this.id}}" title="Unmount"><i class="fas fa-link-slash"></i></a>
                  {{/if}}
                {{/if}}
              </div>
            </div>
            {{#if this.description}}
            <div class="upgrade-description">
              {{{this.description}}}
            </div>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}
      <div class="empty-state">
        <p>No upgrades mounted</p>
        <p>Drag vehicle upgrades from Cargo tab</p>
      </div>
      {{/if}}
    </div>

    {{!-- Cargo Tab --}}
    <div class="tab" data-group="primary" data-tab="cargo">
      
      <div class="items-header">
        <h3>Cargo & Equipment</h3>
      </div>
      
      {{#if cargoByCategory}}
      <div class="cargo-categorized">
        {{#each cargoByCategory}}
        <div class="cargo-category">
          <div class="category-divider">
            <h4>{{this.categoryName}}</h4>
          </div>
          <ol class="items-list">
            {{#each this.items}}
            <li class="item flexrow draggable" data-item-id="{{this.id}}" draggable="true">
              <div class="item-image">
                <img src="{{this.img}}" alt="{{this.name}}"/>
              </div>
              <div class="item-details">
                <h4 class="item-name">{{this.name}}</h4>
                <div class="item-properties">
                  {{#if this.system.amount}}
                  <span class="property">Qty: {{this.system.amount}}</span>
                  {{/if}}
                </div>
              </div>
              <div class="item-controls">
                {{#if this.system.amount}}
                  {{#if (gt this.system.amount 1)}}
                  <a class="item-split" data-item-id="{{this.id}}" title="Split Stack"><i class="fas fa-scissors"></i></a>
                  {{/if}}
                {{/if}}
                {{#if (eq this.type "cyberware")}}
                  {{#if (lookup (lookup this.flags "mmutons-cyberpunk-red-vas") "installed")}}
                  <span class="mounted-badge"><i class="fas fa-microchip"></i></span>
                  <a class="cyberware-uninstall" data-item-id="{{this.id}}" title="Uninstall"><i class="fas fa-link-slash"></i></a>
                  {{else}}
                  <a class="cyberware-install" data-item-id="{{this.id}}" title="Install Cyberware"><i class="fas fa-microchip"></i></a>
                  {{/if}}
                {{/if}}
                {{#if (eq this.type "itemUpgrade")}}
                  {{#if (lookup (lookup this.flags "mmutons-cyberpunk-red-vas") "mounted")}}
                  <span class="mounted-badge"><i class="fas fa-link"></i></span>
                  <a class="upgrade-unmount" data-item-id="{{this.id}}" title="Unmount"><i class="fas fa-link-slash"></i></a>
                  {{else}}
                  <a class="upgrade-mount" data-item-id="{{this.id}}" title="Mount Upgrade"><i class="fas fa-link"></i></a>
                  {{/if}}
                {{/if}}
                <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                {{#if ../../editable}}
                <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        {{/each}}
      </div>
      {{else}}
      <div class="empty-state">
        <p>No cargo stored</p>
        {{#if editable}}
        <p>Drag items here</p>
        {{/if}}
      </div>
      {{/if}}
    </div>

    {{!-- Damage Tab --}}
    <div class="tab" data-group="primary" data-tab="damage">
      
      <div class="items-header">
        <h3>Critical Injuries</h3>
      </div>
      
      {{#if criticalInjuries.length}}
      <ol class="items-list">
        {{#each criticalInjuries}}
        <li class="item flexrow" data-item-id="{{this.id}}">
          <div class="item-image">
            <img src="{{this.img}}" alt="{{this.name}}"/>
          </div>
          <div class="item-details">
            <h4 class="item-name">{{this.name}}</h4>
            <div class="item-properties">
              {{#if this.system.location}}
              <span class="property">Location: {{this.system.location}}</span>
              {{/if}}
              {{#if this.system.effect}}
              <span class="property effect-text">{{this.system.effect}}</span>
              {{/if}}
            </div>
          </div>
          <div class="item-controls">
            <a class="item-edit" data-item-id="{{this.id}}" title="View"><i class="fas fa-eye"></i></a>
            {{#if ../editable}}
            <a class="item-delete" data-item-id="{{this.id}}" title="Delete"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </li>
        {{/each}}
      </ol>
      {{else}}
      <div class="empty-state">
        <p>No critical injuries</p>
        {{#if editable}}
        <p>Drag critical injuries here</p>
        {{/if}}
      </div>
      {{/if}}
    </div>

  </section>
</form>